#content .gridster ul {
    margin: 0;
}

.gridster li {
    list-style: none;
}

.gridster {background-color: #222222;}

.gridster>* { margin: 0;}

.homepage { margin-top: 10px;}
.well {background-color: white;}
